<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="framework::BootStrapFile"></div>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet" />
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <title>展示结果</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Collector2</a>
        </div>
        <div th:replace="framework::loginandlogout">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/User/toMonitorManager">本班所有同学</a></li>
                <br />
                <li ><a href="/Submit/toDivKeyValue">创建信息采集模板</a></li>
                <br />
                <li><a href="/Submit/toMonitorsDiv">查看我发布的信息提交</a></li>
                <br />
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <table class="table table-bordered">
            <tr>
                <td>名字</td>
                <td>提交人学号</td>
                <td>提交时间</td>
                <td>内容</td>
            </tr>
            <tr th:each="formResult : ${formResultList}">
                <td th:text="${formResult.introductionString}"></td>
                <td th:text="${formResult.submiterId}"></td>
                <td th:text="${formResult.submitDateTime}"></td>
                <td th:id="'formResultMap'+${formResultStat}" th:text="${formResult.formResultMap}"></td>
            </tr>
        </table>
    </div>
        </div>
    <input type="hidden" id="formResultSizeInput" th:value="${#lists.size(formResultList)}"/>
</div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/parseJsonForFormResults.js}">

</script>
</html>