<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="framework::BootStrapFile"></div>
    <title>生成预览</title>
</head>
<body>
<div th:include="framework::RoleNav('active','')"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <p class="text-center"><h3 th:text="${templateForPage.introductionString}"></h3></p>
        <form method="post" action="/Submit/publish">
            <input type="hidden" name="templateId" th:value="${templateForPage.templateId}"/>
            <div th:each="templateData : ${templateForPage.templateToDataList}">
                <div class="form-group">
                    <label th:text="${templateData.itermnName}">姓名：</label>
                    <input th:if="${templateData.itermValueClassification} eq 'text'" type="text" th:id="'forceKeyValueItemNameText'+${templateDataStat.count}" th:name="${templateData.itermnName}" class="form-control" />
                    <input th:if="${templateData.itermValueClassification} eq 'date'" type="date" th:id="'forceKeyValueItemNameDate'+${templateDataStat.count}" th:name="${templateData.itermnName}" class="form-control" />
                </div>
                <div th:if="${templateData.itermValueClassification} eq 'single'">
                    <select  th:name="${templateData.itermnName}" class="form-control" th:id="'forceKeyValueItemNameSingle'+${templateDataStat.count}">
                        <option th:each="itemStr,itemStrStat: ${templateData.itermValueList}" th:value="${itemStr}" th:text="${itemStr}"></option>
                    </select>
                </div>
                <div th:if="${templateData.itermValueClassification} eq 'multiple'">
                    <input  type="checkbox" th:each="itemStr2 : ${templateData.itermValueList}"
                        th:name="${templateData.itermnName}" th:text="${itemStr2}" th:value="${itemStr2}" th:id="'forceKeyValueItemNameMultiple'+${templateDataStat.count}+${itemStr2Stat.index}"/>
                </div>
                <div th:if="${templateData.itermValueClassification} eq 'forceKeyValue'" th:id="'forceKeyValueDiv'+${templateDataStat.count}">
                    <input type="hidden" th:id="'forceKeyValueDiv'+${templateDataStat.count}+'TemplateName'" th:value="${templateData.itermnName}"/>
                    <table class="table table-border" th:id="'forceKeyValueDiv'+${templateDataStat.count}+'table'">
                        <tbody th:id="'forceKeyValueDiv'+${templateDataStat.count}+'tbody'">
                        <tr>
                            <td>键</td>
                            <td>值</td>
                            <td>备注</td>
                            <td>操作</td>
                        </tr>
                        <tr th:id="'forceKeyValueDiv'+${templateDataStat.count}+'Tr1'">
                            <td th:id="'forceKeyValueDiv'+${templateDataStat.count}+'Tr1Td1'">
                                <select class="form-control" onchange="fillValueByKey(this)">
                                    <option value="0">请选择key</option>
                                    <option th:each="keyValue : ${templateData.itermKeyValues}" th:value="${keyValue.key}" th:text="${keyValue.key}">
                                    </option>
                                </select>
                            </td>
                            <td class="form-group">
                                <input th:id="'forceKeyValueDiv'+${templateDataStat.count}+'Tr1FillValue'" type="text" class="form-control" readonly="readonly"/>
                            </td>
                            <td class="form-group">
                                <input type="text" class="form-control" th:id="'forceKeyValueDiv'+${templateDataStat.count}+'Tr1RealValue'"/>
                            </td>
                            <td th:id="'forceKeyValueDiv'+${templateDataStat.count}+'Tr1Td4'">
                                <button type="button" class="btn btn-primary" onclick="addNewForceKeyValue(this)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger" onclick="deleteThisItem(this)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <input th:each="forceKeyValueIter : ${templateData.itermKeyValues}" th:id="'forceValueItem'+${forceKeyValueIterStat.count}"
                               type="hidden" th:name="${forceKeyValueIter.key}" th:value="${forceKeyValueIter.value}"/>
                    </div>
                </div>
            </div>
            <input id="collectedData" name="collectedData" type="hidden"/>
            <button class="btn btn-primary" type="submit" >发布</button>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/generatesubmition.js}">

</script>
<!--
itermName:text
itermClassification [text,date,select,checkbox,keyvalue]
itermValueList
itermValueMap
-->
</html>